body {
    font-family: "Courier New","Geneva",Verdana,"sans-serif";
}

.home-page {
    background-color: hsl(191, 80%, 49%);
}

#kabsah-body {
    background-color: hsl(247, 82%, 42%);
    text-align: center;
}

.kabsah-color {
    color: hsl(72, 100%, 50%)
}

.kabsalink {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}


#dakwa-body {
    text-align: center;
    background-color: hsl(0, 92%, 49%);
}

.dakwa-color {
    color: hsl(149, 74%, 51%);
    font-weight: bold;
}

.dakwalink {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

#asida-body {
    text-align: center;
    background-color: hsl(0, 92%, 49%);
}

.asida-color {
    color: hsl(48, 82%, 44%);
    font-weight: 600;
}

.asidalink {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.one {
    color: hsl(0, 0%, 100%);
}

.three {
    display: inline-block;
    border: 10px dotted yellow;
}

.four {
    display: inline-block;
    background-color: rgb(255, 0, 225);
    border: 10px groove white;
}
